{% extends 'base.html' %}
{% load static %}
{% block 'link' %}
<link rel="stylesheet" href="{% static 'premium/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
{% endblock %}
{% block 'content' %}
<div class="col-md-12">
  <div class="card p-0">
    <div class="card-header btn-page m-0 p-2 pb-0">
      <div class="row">
        <div class="col-md-12">
          <label>Date Filter (From - To)</label>
          <table>
            <tr>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker1">
                </div>
              </td>
              <td>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker2">
                </div>
              </td>
            </tr>
          </table>
          <hr class="m-2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Filter</label>
          <table>
            <tr>
              <td>
                <input type="search" class="form-control float-right" placeholder="Search...." name="search" id="search">
              </td>
            </tr>
          </table>
          <hr class="m-2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pb-0">
          <a href="{% url 'transaction_create' %}" type="button" class="btn btn-primary btn-sm" name="button"><i class="feather icon-plus-circle mr-1"></i>New Transaction</a>
          <!-- <button type="button" class="btn btn-success btn-sm" name="button"><i class="fa fa-file-excel mr-2"></i>Excel File</button>
          <button type="button" class="btn btn-secondary btn-sm" name="button"><i class="feather icon-printer mr-2"></i>PDF - Print</button> -->
        </div>
        <div class="col-md-6 text-right">
          <label id="counter"></label>
        </div>
      </div>
    </div>
    <div class="card-body p-2">
      <!-- <div class="col-md-12 text-center border-top">
        <label id="counter"></label>
      </div> -->
      <div class="table-responsive">
        <table class="table border table-hover">
          <thead>
            <tr>
              <th width="1%">#</th>
              <th>Name</th>
              <th>Brand</th>
              <th>Chassis No</th>
              <th>Description</th>
              <th width="15%">Date</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody id="data_table">
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-center p-2">
      <ul class="pagination">
        <li class="page-item" id="page_prev"><button class="page-link" id="button_prev" href="#!">Prev</button></li>
        <li class="page-item" id="page_next"><button class="page-link" id="button_next" href="#!">Next</button></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}


{% block 'script' %}
<script src="{% static 'premium/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>

<script>
  var $datepicker1 = $('#datepicker1');
  $datepicker1.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker1.datepicker('setDate', new Date());

  var $datepicker2 = $('#datepicker2');
  $datepicker2.datepicker({
    autoclose: true,
    format : 'yyyy-mm-dd',
  });
  $datepicker2.datepicker('setDate', new Date());


  var start = 0;
  var end = 10;
  var counts;
  function disabled(){
    if (start === 0){
      $("#page_prev").addClass("disabled", true);
    }else{
      $("#page_prev").removeClass("disabled", false);
    }
    if (end >= counts){
      $("#page_next").addClass("disabled", true);
    }else{
      $("#page_next").removeClass("disabled", false);
    }
  }
  function load_data(start,end){
    var search = $("#search").val();
    var datepicker1 = $("#datepicker1").val();
    var datepicker2 = $("#datepicker2").val();
    $.ajax({
      url: '{% url 'transaction_table_api' %}',
      type: 'get',
      data: {start:start,end:end,search:search,datepicker1:datepicker1,datepicker2:datepicker2},
      dataType: 'json',
      success:function(data){
        counts = data.counter;
        $('#counter').html(data.counter + " record(s)");
        $('#data_table').html(data.data);
        disabled();
      },
    });
  };
  $('#button_prev').click(function() {
    start-=10
    end-=10
    load_data(start,end);
  });
  $('#button_next').click(function() {
    start+=10
    end+=10
    load_data(start,end);
  });
  $('#search').change(function() {
    start = 0;
    end = 10;
    load_data(start,end);
  });
  $('#datepicker1').change(function() {
    start = 0;
    end = 10;
    load_data(start,end);
  });
  $('#datepicker2').change(function() {
    start = 0;
    end = 10;
    load_data(start,end);
  });
  load_data(start,end);
</script>

{% endblock %}
