{% load humanize %}
{% for p in receiving %}
<tr>
  <td>{{forloop.counter|add:start}}</td>
  <td style="white-space:normal;">{{p.vendor}}</td>
  <td style="white-space:normal;">{% if p.shipped_via %}{{p.shipped_via}}{% else %}None{% endif %}</td>
  <td style="white-space:normal;">{{p.date_created}}</td>
  <td class="btn-page">
    <a href="{% url 'receiving_update' p.id %}" type="button" class="btn btn-warning btn-sm" name="button"><i class="feather icon-edit mr-1"></i>Edit</a>
    <a href="{% url 'receiving_detail' p.id %}" type="button" class="btn btn-primary btn-sm" name="button"><i class="feather icon-monitor mr-1"></i>View</a>
    <a href="{% url 'receiving_report_pdf' p.id %}" target="_blank" type="button" class="btn btn-secondary btn-sm" name="button"><i class="feather icon-printer mr-1"></i>Print</a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}
{% block 'script' %}
<script type="text/javascript">
  $(document).ready(function () {
    $("a").tooltip({container:'table'});
  });
</script>
{% endblock %}
