{% load humanize %}
{% for p in releasing %}
<tr>
  <td>{{forloop.counter|add:start}}</td>
  <td style="white-space:normal;">{{p.product.part_number}}</td>
  <td style="white-space:normal;">{{p.product.description}}</td>
  <td style="white-space:normal;">{{p.quantity}}</td>
  <td class="btn-page">
    <form class="custom-form-delete" data-url="{% url 'api_releasing_detail_form_item_delete_save' p.id %}"method="post">
      <button type="submit" class="btn btn-danger btn-sm confirm-removed" name="button"><i class="feather icon-trash mr-1"></i></button>
    </form>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="12" class="text-center">No data available</td>
</tr>
{% endfor %}
{% block 'script' %}
<script>
  $(document).ready(function () {
    var csrftoken = getCookie('csrftoken');

    $(".custom-form-delete").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        type: form.attr('method'),
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data){
          Toast.fire({
            type: data.message_type,
            title: data.message_title
          });
          if (data.url){
            window.location.href = data.url;
          }
          load_data(start,end);
        },
        error:function(error){
          Toast.fire({
            type: 'error',
            title: 'ERROR Connection Lost.'
          });
        },

      })
      return false;
    });

  });

</script>
{% endblock %}
