{% load crispy_forms_tags %}
{% load static %}
<div class="modal-header p-2 pb-2">
  <h6 class="modal-title" >{{title}}</h6>
  <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-1">
  <div class="form-group">
    <input type="search" class="form-control float-right mb-2" placeholder="Search...." name="search_product" id="search_product">
  </div>
  <table class="table border-bottom">
    <tbody id="data_table_product">

    </tbody>
  </table>
  <div class="col-md-12 text-center border-bottom">
    <small id="counter_product">No data available</small>
  </div>
</div>
<div class="modal-header text-center p-1">
  <ul class="pagination p-0 m-1">
    <li class="page-item" id="page_prev_product"><button class="page-link" id="button_prev_product" href="#!">Prev</button></li>
    <li class="page-item" id="page_next_product"><button class="page-link" id="button_next_product" href="#!">Next</button></li>
  </ul>
</div>

{% block 'script' %}
<script>
  var start_product = 0;
  var end_product = 5;
  var counts;
  function disabled_product(){
    if (start_product === 0){
      $("#page_prev_product").addClass("disabled", true);
    }else{
      $("#page_prev_product").removeClass("disabled", false);
    }
    if (end_product >= counts){
      $("#page_next_product").addClass("disabled", true);
    }else{
      $("#page_next_product").removeClass("disabled", false);
    }
  }
  function load_data_product(start_product,end_product){
    var search_product = $("#search_product").val();
    $.ajax({
      url: '{% url 'api_releasing_detail_form_table' %}',
      type: 'get',
      data: {start:start_product,end:end_product,search:search_product,releasing_id:'{{releasing_id}}'},
      dataType: 'json',
      success:function(data){
        counts = data.counter;
        $('#counter_product').html(data.counter + " record(s) found");
        $('#data_table_product').html(data.data);
        disabled_product();
      },
    });
  };
  $('#button_prev_product').click(function() {
    start_product-=5
    end_product-=5
    load_data_product(start_product,end_product);
  });
  $('#button_next_product').click(function() {
    start_product+=5
    end_product+=5
    load_data_product(start_product,end_product);
  });
  $('#search_product').change(function() {
    start_product = 0;
    end_product = 5;
    load_data_product(start_product,end_product);
  });
  load_data_product(start_product,end_product);
</script>
{% endblock %}
